.github/ export-ignore
crt/ export-ignore
ext/ export-ignore
tests/ export-ignore
dev-scripts/ export-ignore
.clang-format export-ignore
.clang-format-ignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
CONTRIBUTING.md export-ignore
Makefile.frag export-ignore
Makefile.frag.w32 export-ignore
builder.json export-ignore
config.m4 export-ignore
config.w32 export-ignore
format-check.sh export-ignore
gen_api.php export-ignore
gen_stub.php export-ignore
php-win.ini export-ignore
php.ini export-ignore
